footer{
    height:300px;
 }
body {  padding-left:20px;
  padding-right:20px;
  background-color:lightblue;
  border-style: solid;
}
h1 {
  background-color: black;
  color:white;
  text-align:center;
}
img.photo{
  width: 150px;
  height: 150px;
  border-radius: 100%; 
  border: 2px solid rgb(20, 8, 12);
  margin-top: 10vh;
  float:right;
  margin-top: -182px; 
  margin-right: 5px;
   }  
   table, td, th {
       border: 2px solid rgb(78, 52, 52);
       text-align: left;
   }
div.heading { padding:10px;
      border-radius:25px;
  background-color: whitesmoke; 
}
.div2{border-radius:25px; padding:10px; margin-top:10px; 
  background-color: whitesmoke; }
.div2:hover{background-color:rgb(207, 188, 188); border:2px solid white; box-shadow:5px 10px #888888 }
.logo{
    height:40px;
  width:40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%
}
.logo2{
    height:40px;
  width:40px;
  border-radius: 100%; 
  margin-top: 10vh;
  float:right;
  margin-top: -40px; 
  margin-right: 50px;
  
}
.logo3{
    height:40px;
  width:40px;
  border-radius: 100%; 
  margin-top: 10vh;
  float:right;
  margin-top: -40px; 
  margin-left: 400px;
  margin-right: -50px;
}
h3 {
  text-decoration: underline overline;
}